# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Gradle
build/

# Logs
*.log

# OS files
.DS_Store

# Eclipse
.project
.classpath
.settings/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Env
.env

# Uploads (if any)
uploads/