<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    

    <title>Admin Panel</title>

    <!-- CSS -->
    <link th:href="@{/css/font-face.css}" rel="stylesheet"/>
    <link href="https://rsms.me/inter/inter.css" rel="stylesheet"/>
    <link th:href="@{/vendor/fontawesome-7.2.0/css/all.min.css}" rel="stylesheet"/>
    <link th:href="@{/vendor/bootstrap-5.3.8.min.css}" rel="stylesheet"/>
    <link th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/theme.css}" rel="stylesheet"/>
    <link th:href="@{/css/app.css}" rel="stylesheet"/>
</head>