<div th:fragment="sidebar">
	<aside class="menu-sidebar" id="main-sidebar">

		<div class="logo">
			<a class="logo-link" th:href="@{/admin/dashboard}" aria-label="IVH"> 
				<span class="logo-mark" aria-hidden="true">EDS</span> 
				<span class="logo-text">-E</span>
			</a>
			<button class="sidebar-close js-sidebar-toggle" type="button" aria-label="Close navigation">
				<i class="fa-solid fa-xmark" aria-hidden="true"></i>
			</button>
		</div>

		<div class="menu-sidebar__content js-scrollbar1">
			<nav class="navbar-sidebar">
				<ul class="list-unstyled navbar__list">

					<li>
						<a th:href="@{/admin/dashboard}"> 
							<i class="fa-solid fa-tachometer-alt"></i> Dashboard
						</a> 
					</li>
					
					<li>
						<a th:href="@{/admin/group}"> 
							<i class="fa-solid fa-users mb-2"></i> Group
						</a> 
					</li>
					
					<li>
						<a th:href="@{/admin/group}"> 
							<i class="fa-solid fa-book mb-2"></i> Volume
						</a> 
					</li>
					
					<li>
						<a th:href="@{/admin/group}"> 
							<i class="fa-brands fa-linktree"></i> Family
						</a> 
					</li>
					
					<li>
						<a th:href="@{/admin/group}"> 
							<i class="fa-solid fa-plant-wilt"></i> Tribe
						</a> 
					</li>
					
					<li>
						<a th:href="@{/admin/group}"> 
							<i class="fa-solid fa-spa"></i> Genus
						</a> 
					</li>
					
					<li>
						<a th:href="@{/admin/group}"> 
							<i class="fa-solid fa-leaf"></i> Species
						</a> 
					</li>
					
					<li>
						<a th:href="@{/admin/group}"> 
							<i class="fa-solid fa-bullhorn"></i> News & Update
						</a> 
					</li>

					
					

					<li class="has-sub">
						<a class="js-arrow" href="javascript:void(0);">
							<i class="fa-solid fa-user-gear"></i>Setting
						</a>
						<ul class="list-unstyled navbar__sub-list js-sub-list">
							<li><a th:href="@{/admin/account/profile}">Profile &amp; settings</a></li>
							<li><a th:href="@{/admin/account/pricing}">Pricing</a></li>
							<li><a th:href="@{/admin/account/invoice}">Invoice</a></li>
						</ul>
					</li>

					<li class="has-sub">
						<a class="js-arrow" href="javascript:void(0);">
							<i class="fa-solid fa-copy"></i>CMS
						</a>
						<ul class="list-unstyled navbar__sub-list js-sub-list">
							<li><a th:href="@{/admin/pages/maintenance}">Maintenance</a></li>
							<li><a th:href="@{/admin/pages/404}">404 not found</a></li>
							<li><a th:href="@{/admin/pages/500}">500 server error</a></li>
						</ul>
					</li>

					
				</ul>
			</nav>
		</div>

	</aside>
</div>